.eighth {

	&_wrapper {}

	&_middle {
		background-image: url(../img/percent.png);
		background-position: right 4em;
		padding-top: 3.6em;
	}

	&_desc {
		width: 10em;
	}

	&_right {
		&-inner {
			padding-top: 0;
		}
	}

}