.footer {
	&_wrapper {
		display: flex;
		justify-content: space-between;
		width: 71em;
		margin: auto;
		max-width: 100%;
		padding: 3em 0;
	}

	&_link {
		color: #00a59b;
		display: block;
		font-size: .8em;
		text-decoration: underline;
		line-height: 2em;
	}

	&_desc {
		font-size: .8em;
		line-height: 1.5em;
		width: 20em;
		max-width: 100%;
	}

	&_copy {
		margin-top: 2em;
		font-size: .8em;
		color: #aaa;
	}
}